.footer {
  padding: 10px 20px 40px 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 0;
}

.footer a {
  color: inherit;
}

.footer i:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.copyRight {
  margin-right: 10px;
}

.copyRightZone {
  display: flex;
  align-items: center;
}

.createdBy {
  font-size: 12px;
}
