.container {
  white-space: pre-wrap;
}

.container h1 {
  font-size: 32px;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
}

.container blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 15px;
  border-left: 2px solid black;
  /* display:inline-flex; */
}

.container blockquote span {
  margin-top: -10px;
  margin-bottom: -10px;
}

.name {
  font-size: 36px;
}

.excerpt {
  font-size: 18px;
  font-weight: 700;
}

.back {
  display: inline-block;
  margin-top: 60px;
}

.content .bold {
  font-weight: bold;
}

.content .code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.content .italic {
  font-style: italic;
}

.content .pre {
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
}

.content .code_block {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}

.content .file {
  padding: 2px 4px;
  text-decoration: none;
}

.content .file a {
  color: inherit;
}

.content .file:hover {
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 2px;
}

.content .italic {
  font-style: italic;
}

.content .strikethrough {
  text-decoration: line-through;
}

.content .underline {
  text-decoration: underline;
}

.content .bookmark {
  display: block;
  margin-bottom: 10px;
}

.content h2 {
  margin: 80px 0 20px 0;
}

@media (prefers-color-scheme: dark) {
  .content .code {
    background-color: rgb(15, 8, 28);
  }
  .content .file:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
  }
  .content .pre {
    background-color: rgb(15, 8, 28);
  }
}
